[project]
	description = Repository for Programming Assignment 2 for R Programming on Coursera
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ivan Kohut (ikohut)
[access "refs/for/refs/*"]
	read = group user/Ivan Kohut (ikohut)
	push = group user/Ivan Kohut (ikohut)
	label-Code-Review = -2..+2 group user/Ivan Kohut (ikohut)
	label-Verified = -1..+1 group user/Ivan Kohut (ikohut)
	rebase = group user/Ivan Kohut (ikohut)
	removeReviewer = group user/Ivan Kohut (ikohut)
	submit = group user/Ivan Kohut (ikohut)
[access "refs/heads/*"]
	read = group user/Ivan Kohut (ikohut)
	create = group user/Ivan Kohut (ikohut)
	push = +force group user/Ivan Kohut (ikohut)
	pushMerge = group user/Ivan Kohut (ikohut)
[access "refs/tags/*"]
	push = +force group user/Ivan Kohut (ikohut)
	pushTag = group user/Ivan Kohut (ikohut)
	pushSignedTag = group user/Ivan Kohut (ikohut)
